/* initialisation */
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*footer*/
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 236, 241);
  width: 100%;
  text-align: center;
}
#contact h2 {
  margin: 1%;
}
p {
  color: darkblue;
  font-style: bold;
  font-size: 30px;
}
/*navbar*/
#navbar {
  overflow: hidden;
  background-color: rgb(233, 236, 241);
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /*Full width*/
  margin-bottom: 10%;
}
#navbar img {
  float: left;
  height: 60px;
  width: 150px;
  margin-left: 0;
}
ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
a,
li {
  list-style-type: none;
  display: inline;
  color: #111314d5;
  text-align: center;
  padding: 14px 16px;
  text-decoration-line: none;
  /*main part*/
}
main {
  margin: 3% 15%;
}
section,
section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: left;
  margin: 10% 0%;
  color: darkslategrey;
  letter-spacing: 5px;
  text-decoration: lavender;
}
